<div class="service-item" style="padding-top: 30px;">
    <div class="service-content">
        <div class="service-icon">
            <i class="flaticon-solar-panel"></i>
        </div>
        <h3 class="service-title">
            <a href="{{ path('app_services') }}">Conseils en Stratégie Energetique</a>
        </h3>
        <div class="service-text text-start mt-2" style="margin-bottom: 38px;">
            <p>
                Nous sommes déterminées à saisir les opportunités offertes par l’économie verte et a définitivement adopté une politique claire pour construire son développement sur la base de cette dernière qui respecte les principes de la protection du système écologique et la préservation de l’environnement. 
                Ainsi Hi-Tech Solutions s’est fixé comme objectif d’accompagner et orienter ses clients dans cette stratégie énergétique avantageuse et durable.
            </p>
        </div>    
    </div>
</div>