<div class="service-item" style="padding-top: 30px;">
    <div class="service-content">
        <div class="service-icon">
            <i class="flaticon-wind-turbine"></i>
        </div>
        <h3 class="service-title">
            <a href="{{ path('app_services') }}">Formation</a>
        </h3>
        <div class="service-text text-start mt-2 text-align-center" style="margin-bottom: 116px;">
            <p>
                HI-TECH SOLUTIONS SARL organise régulièrement des sessions de formation de durée variable sur tous les services qu’il offre. 
                Ces sessions sont organisées de façon périodique ou à la demande d’un client.
            </p>    
        </div>    
    </div>
</div>