<div class="service-item" style="padding-top: 30px;">
    <div class="service-content">
        <div class="service-icon">
            <i class="flaticon-solar-panel-2"></i>
        </div>
        <h3 class="service-title">
            <a href="{{ path('app_services') }}">Fourniture de Produits</a>
        </h3>
        <div class="service-text text-start mt-2 text-align-center" style="margin-bottom: 88px;">
            <p>
                HI-TECH SOLUTIONS SARL, S’engage à vous garantir un retour sur investissement immédiat en offrant des produits et services innovants, performants, adaptés aux besoins des clients, de sorte à garantir un rapport gagnant/gagnant, dans le but de consolider notre réputation.
            </p>    
        </div>    
    </div>
</div>