<div class="service-item" style="padding-top: 30px;">
    <div class="service-content">
        <div class="service-icon">
            <i class="flaticon-wind-turbine-3"></i>
        </div>
        <h3 class="service-title">
            <a href="{{ path('app_services') }}">Gestion de Projets</a>
        </h3>
        <div class="service-text text-start mt-2 mb-4">
            <p>
                HI-TECH SOLUTIONS SARL, vous accompagnent tout au long du cycle de vie de vos projets en analysant et formalisant avec vous, les besoins de votre structure.
                Le choix d’une méthodologie de travail adéquate est capital, elle doit être adaptée au projet, à son envergure, ses délais et son budget. Une méthodologie inadaptée entraine des surcouts et des retards inacceptables.

            </p>    
        </div>    
    </div>
</div>