<div class="service-item" style="padding-top: 30px;">
    <div class="service-content">
        <div class="service-icon">
            <i class="flaticon-drill"></i>
        </div>
        <h3 class="service-title">
            <a href="{{ path('app_services') }}">Installation et Maintenance</a>
        </h3>
        <div class="service-text text-start mt-2 text-align-center" style="margin-bottom: 88px;">
            <p>
                Les équipements et logiciels fournis et installés ont une garantie à partir de la date de livraison des équipements. 
                Pendant la période de garantie, la réparation et le remplacement des pièces défectueuses sont sans rémunération.
            </p>    
        </div>    
    </div>
</div>