<form action="#">
    <input type="email" class="form-control" placeholder="Votre Email">
    <button class="theme-btn" type="submit">
        <span class="far fa-envelope"></span> S'abonner
    </button>
</form>