{% extends 'base.html.twig' %}

{% block body %}
    {% include 'account/partials/breadcrumb.html.twig' %}
        <div class="shop-checkout py-120">
            <div class="container">
                <div class="row">
                    {% include 'account/partials/menu_left.html.twig' %}

                    <div class="col-lg-8">
                        <div class="checkout-widget">
                            <h4 class="checkout-widget-title text-center">Bienvenu sur votre compte!</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
