<div class="site-breadcrumb" style="background: url({{ asset('template/img/breadcrumb/breadcrumb.jpg') }})">
    <div class="container">
        <h2 class="breadcrumb-title">Votre Compte</h2>
        <ul class="breadcrumb-menu">
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="active">Compte Utilisateur</li>
        </ul>
    </div>
</div>