{% extends 'base.html.twig' %}

{% block body %}

    <div class="site-breadcrumb" style="background: url({{ asset('template/img/breadcrumb/breadcrumb.jpg') }})">
        <div class="container">
            <h2 class="breadcrumb-title">Nos Services</h2>
            <ul class="breadcrumb-menu">
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>

    <div class="service-area2 bg py-120">
        <div class="container">
            <div class="row g-4">

                <div class="col-md-6 col-lg-6 col-xl-6 mb-5">
                    {% include "services/inc/ingenerie.html.twig" %}
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6 mb-5">
                    {% include "services/inc/conseils.html.twig" %}
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6 mb-5">
                    {% include "services/inc/gestion.html.twig" %}
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6 mb-5">
                    {% include "services/inc/fourniture.html.twig" %}
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6 mb-5">
                    {% include "services/inc/installation.html.twig" %}
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6 mb-5">
                    {% include "services/inc/formation.html.twig" %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
