{% if product.name == 'Omnivoltaic Kit salon de coiffure' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>2 ans</td>
    </tr>
    <tr>
        <td>Capacité de la battérie</td>
        <td>12Ah LFP batterie</td>
    </tr>
    <tr>
        <td>Puissance Module PV</td>
        <td>50Watts</td>
    </tr>
    <tr>
        <td>Chargeur téléphone</td>
        <td>USB charge out de 10 ports</td>
    </tr>
    <tr>
        <td>Tondeuse à cheveux</td>
        <td>02 tondeuses rechargeables</td>
    </tr>
    <tr>
        <td>Pont lumineux reglette</td>
        <td>02 ampoules LED de 515 lumens</td>
    </tr>
    <tr>
        <td>Accessoire</td>
        <td>01 lampe torche de 40 lumens</td>
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>200.000 FCFA</td>
    </tr>
</table>
{% endif %}


{% if product.name == 'Omnivoltaic Kit salon de couture' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>2 ans</td>
    </tr>
    <tr>
        <td>Capacité de la battérie</td>
        <td>18Ah LFP batterie</td>
    </tr>
    <tr>
        <td>Puissance Module PV</td>
        <td>108 watts</td>
    </tr>
    <tr>
        <td>Machine</td>
        <td>01 machine à coudre</td>
    </tr>
    <tr>
        <td>Pont lumineux reglette</td>
        <td>01 ampoule LED de 515 lumens</td>
    </tr>
    <tr>
        <td>Accessoire</td>
        <td>01 lampe torche de 40 lumens</td>
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>320.000 FCFA</td>
    </tr>
</table>
{% endif %}

{% if product.name == 'Omnivoltaic Kit système de recharge téléphonique' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>2 ans</td>
    </tr>
    <tr>
        <td>Capacité de la battérie</td>
        <td>538Wh LFP batterie</td>
    </tr>
    <tr>
        <td>Puissance Module PV</td>
        <td>162 watts</td>
    </tr>
    <tr>
        <td>Chargeur Téléphone</td>
        <td>USB charge out de 2 X 10 ports</td>
    </tr>
    <tr>
        <td>Pont lumineux douille</td>
        <td>03 ampoules LED de 240 lumens</td>
    </tr>
    <tr>
        <td>Pont lumineux reglette</td>
        <td>01 ampoule LED de 515 lumens</td>
    </tr>
    <tr>
        <td>Accessoire</td>
        <td>01 lampe torche de 40 lumens</td>
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>350.000 FCFA</td>
    </tr>
</table>
{% endif %}

{% if product.name == 'Omnivoltaic Mini-centrale de 1Kw' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>2 ans</td>
    </tr>
    <tr>
        <td>Capacité de la battérie</td>
        <td>1075Wh LFP batterie, 48Ah*22.4V</td>
    </tr>
    <tr>
        <td>Puissance Module PV</td>
        <td>375 watts/36V</td>
    </tr>
    <tr>
        <td>Caractéristiques</td>
        {# <td>4* sorties USB standard 5V 3.1A</td> #}
        {# <td>8* sorties USB standard 5V 3.1A</td>
        <td>2* sorties USB QC3.0 9V 2A</td>
        <td>2* sorties DC5521 12V</td>
        <td>1* sortie cigarette</td> #}
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>650.000 FCFA</td>
    </tr>
</table>
{% endif %}

{% if product.name == 'Omnivoltaic Mini-centrale de 5Kw' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>2 ans</td>
    </tr>
    <tr>
        <td>Capacité de la battérie</td>
        <td>2.12Kwh LFP batteries</td>
    </tr>
    <tr>
        <td>Puissance Module PV</td>
        <td>6 * 375 watts/36V</td>
    </tr>
    <tr>
        <td>Caractéristiques</td>
        {# <td>3Kw onduleur intégré</td> #}
        {# <td>Interrupteur d’arrêt</td>
        <td>Voltage nominal de la batterie : DC114V</td>
        <td>Puissance voltage d’entrée : 65-145Vdc</td>
        <td>Voltage recommandé : 108-114V</td> #}
        {# <td>Courant de charge : 80A</td> #}
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>2.800.000 FCFA</td>
    </tr>
</table>
{% endif %}

{% if product.name == 'Future Pumps SF2' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>5 ans</td>
    </tr>
    <tr>
        <td>Panneau de 80 Watts</td>
        <td>2.200 litres/hr à 1mètre / 2000 litres/hr à 6mètre</td>
    </tr>
    <tr>
        <td>Panneau de 120 Watts</td>
        <td>3.600 litres/hr à 1mètre / 2500 litres/hr à 6mètres</td>
    </tr>
    <tr>
        <td>Caractéristiques</td>
        {# <td>Hauteur limite d’aspiration à l’entrée : 7 mètres</td> #}
        {# <td>Hauteur maximale de refoulement : 15 mètres</td>
        <td>Longueur de refoulement : 500m+</td>
        <td>Efficacité maximale : 70%</td>
        <td>Suffisamment pour l’irrigation de 4000 m²</td> #}
        {# <td>Idéal avec réservoir, asperseurs, tuyaux ou goutte à goutte</td> #}
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>680.000 FCFA</td>
    </tr>
</table>
{% endif %}


{% if product.name == 'Sunlight Pump Ennos' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>2 ans</td>
    </tr>
    <tr>
        <td>Puissance Module PV</td>
        <td>100 à 500 watts</td>
    </tr>
    <tr>
        <td>Caractéristiques</td>
        {# <td>Hauteur maximale de poussée (m) 40</td> #}
        {# <td>Capacité de succion au niveau de mar (m) 7</td>
        <td>Débit maximum (l/min) 45</td>
        <td>Tension d’alimentation max.(Vmpp) plage (Vdc) 15-52</td>
        <td>Tension en circuit ouvert max.(Voc)4 (Vdc) 17-65</td> #}
        {# <td>Courant d’entrée max.@25°Uamb (Adc) 9.5</td> #}
        {# <td>Puissance d’entrée max. (W) 500</td> #}
        {# <td>Hauteur total : 25 m</td> #}
        {# <td>Energie solaire : 300W</td> #}
        {# <td>Max. Débit d’eau : 34ltr/min</td> #}
        {# <td>Heures de service complet : 6hrs</td> #}
        {# <td>Total d’eau par jour : 12.240 litres</td> #}
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>780.000 FCFA</td>
    </tr>
</table>
{% endif %}


{% if product.name == 'Pompe Solaire immergée: SPWP-210' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>2 ans</td>
    </tr>
    <tr>
        <td>Caractéristiques</td>
        {# <td>210 watts, 1.5m³/h</td> #}
        {# <td>Support pour 01 panneau de 375 Watts</td>
        <td>Câble rouge de 2.5mm2 de 1000V</td>
        <td>Câble noir de 2.5mm2 de 1000V</td>
        <td>Connecteur MC4 pour la connexion des panneaux solaire</td> #}
        {# <td>Câble de pompe de 3*4mm2 de 1000V</td> #}
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>506.500 FCFA</td>
    </tr>
</table>
{% endif %}


{% if product.name == 'Pompe Solaire immergée: SPWP-750' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>2 ans</td>
    </tr>
    <tr>
        <td>Pompe Solaire</td>
        <td>750 watts, 3.4m³/h</td>
    </tr>
    <tr>
        <td>Composition du kit</td>
        {# <td>210 watts, 1.5m³/h</td> #}
        {# <td>Support pour 01 panneau de 375 Watts</td>
        <td>Câble rouge de 2.5mm2 de 1000V</td>
        <td>Câble noir de 2.5mm2 de 1000V</td>
        <td>Connecteur MC4 pour la connexion des panneaux solaire</td> #}
        {# <td>Câble de pompe de 3*4mm2 de 1000V</td> #}
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>506.500 FCFA</td>
    </tr>
</table>
{% endif %}




