{% if product.name == 'kit BioLite 620+' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>2 ans</td>
    </tr>
    <tr>
        <td>Capacité de la battérie</td>
        <td>3300mAH@6.5V (20Wh) LIFEPO4</td>
    </tr>
    <tr>
        <td>Puissance Module PV</td>
        <td>36Watts</td>
    </tr>
    <tr>
        <td>Chargeur téléphone</td>
        <td>USB charge out x2</td>
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>95.000 FCFA</td>
    </tr>
</table>
{% endif %}

{% if product.name == 'Biolite 5000+TV' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>2 ans</td>
    </tr>
    <tr>
        <td>Capacité de la battérie</td>
        <td>155Wh LIFEPO4</td>
    </tr>
    <tr>
        <td>Puissance Module PV</td>
        <td>50Watts</td>
    </tr>
    <tr>
        <td>Chargeur téléphone</td>
        <td>USB charge out x2</td>
    </tr>
    <tr>
        <td>Téléviseur</td>
        <td>32 pouces</td>
    </tr>
    <tr>
        <td>Points lumineux</td>
        <td>04 ampoules LEDS de 5600 lumen-heures par jour</td>
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>230.000 FCFA</td>
    </tr>
</table>
{% endif %}

{% if product.name == 'Solego : kit Célibataire' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>2 ans</td>
    </tr>
    <tr>
        <td>Capacité de la battérie</td>
        <td>160Wh & 80 Wh</td>
    </tr>
    <tr>
        <td>Puissance Module PV</td>
        <td>50Watts x 02</td>
    </tr>
    <tr>
        <td>Chargeur téléphone</td>
        <td>USB charge out x2</td>
    </tr>
    <tr>
        <td>Téléviseur</td>
        <td>32 pouces</td>
    </tr>
    <tr>
        <td>Points lumineux</td>
        <td>03 ampoules LEDS de 4watts</td>
    </tr>
    <tr>
        <td>Brasseurs d’air plafonnier</td>
        <td>01</td>
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>500.000 FCFA</td>
    </tr>
</table>
{% endif %}

{% if product.name == 'Omnivoltaic' %}
<table class="table table-striped text-center">
    <tr>
        <td>Certification</td>
        <td>Certification Lightning Global ®</td>
    </tr>
    <tr>
        <td>Garantie</td>
        <td>2 ans</td>
    </tr>
    <tr>
        <td>Capacité de la battérie</td>
        <td>112Ah LFP batterie</td>
    </tr>
    <tr>
        <td>Puissance Module PV</td>
        <td>50Watts</td>
    </tr>
    <tr>
        <td>Chargeur téléphone</td>
        <td>USB charge out de 10 ports</td>
    </tr>
    <tr>
        <td>Tondeuse à cheveux</td>
        <td>02 tondeuses rechargeables</td>
    </tr>
    <tr>
        <td>Point lumineux réglette</td>
        <td>02 ampoules LED de 515 lumens</td>
    </tr>
    <tr>
        <td>BrasAccessoires</td>
        <td>01 lampe torche de 40 lumens</td>
    </tr>
    <tr>
        <td>Prix payable sur 24 mois via mobile money</td>
        <td>200.000 FCFA</td>
    </tr>
</table>
{% endif %}