{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        .product-title {
            color:#253745;
            font-size: 16px;
        }

        .form-check {
            display: flex;
            justify-content: flex-end;
            flex-direction: row-reverse;
        }

        .form-check input {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block body %}



    <div class="site-breadcrumb" style="background: url({{ asset('template/img/breadcrumb/breadcrumb.jpg') }})">
        <div class="container">
            <h2 class="breadcrumb-title">Notre boutique</h2>
            <ul class="breadcrumb-menu">
                <li><a href="index-2.html">Accueil</a></li>
                <li class="active">Boutique</li>
            </ul>
        </div>
    </div>

    <div class="shop-area py-120">
        <div class="container js-filter">
            <div class="row">
                <div class="col-lg-4">
                    {% include 'shop/filter/_filter.html.twig' %}
                </div>

                <div class="col-lg-8">
                    <div class="col-md-12">
                        <div class="shop-sort">
                            <h5> Résultats trouvés</h5>
                            <div class="shop-sort-box">
                                <select class="form-select">
                                    <option value="1">Trier par</option>
                                    <option value="2">Prix Min</option>
                                    <option value="3">Prix Max</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row js-filter-content">
                        {% include 'shop/filter/_products.html.twig' %}
                    </div>
                
                    <div class="navigation js-filter-pagination">
                        {% include 'shop/filter/_pagination.html.twig' %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        let categories = document.querySelectorAll('.form-check-input');
        let div;

        categories.forEach(category => {
            div = category.parentElement;
            div.classList.add('form-check');
        });
    </script>
{% endblock %}
